@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
	<div>
		<h1>@ViewBag.PizzaName</h1>
		<h2>Cost $ @ViewBag.PizzaCost</h2>

		<h5>Description:</h5>
		<div>@Html.Raw(ViewBag.Description)</div>

		@if (ViewBag.Toppings.Length > 0)
		{
			<h5>Toppings:</h5>
			<div>
				<ul>
					@foreach (var topping in ViewBag.Toppings)
					{
					<li>@topping</li>
					}
				</ul>
			</div>
		}

	</div>
</body>
</html>
