@{
	Layout = null;

	var pizzaName = "Porky-the-pie";
	var pizzaCost = 11.99;
	var description = "<p>sdfdsfsdsdfsd</p>";
	var toppings = new string[]
	{
		"Meat: Bacon",
		"Meat: Sausage",
		"Vegetable: Mushroom"
	};
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
		<h1>@pizzaName</h1>
		<h2>Cost $ @pizzaCost</h2>

		<h5>Description:</h5>
		<div>@Html.Raw(description)</div>

		<h5>Toppings:</h5>
		<div>@toppings</div>
    </div>
</body>
</html>
