@model PizzaPartyStore.Models.PizzaParty[]

@{
    ViewBag.Title = "Pizza Party Store";
}

<h2>@ViewBag.Title</h2>

<div class="row">
	@foreach (var pizzaParty in Model)
	{
		<div class="col-md-3">
			<h4>@Html.ActionLink(pizzaParty.DisplayText, "Detail",
				new { id = pizzaParty.Id })</h4>
			<a href="@Url.Action("Detail", new { id = pizzaParty.Id })">
				<img src="/Images/@pizzaParty.CoverImageFileName"
						alt="@pizzaParty.DisplayText'"
						class="img-responsive" />
			</a>
		</div>
	}

</div>